<h2>Registration</h2>
<%= form_with(url: 'registation/create') do |f|%>

	<table border='1'>
		<tr>
			<td>email</td>
			<td><%= f.text_field(:email)%></td>
		</tr>
		<tr>
			<td>password</td>
			<td><%= f.text_field :password %></td>
		</tr>
		<tr>
			<td></td>
			<td><%=f.submit %></td>
		</tr>
	</table>

<% end %>